.container {
  width: 435px;
  height: 773px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.container .profile-container {
  position: relative;
}
.container .profile-container .user-avatar {
  position: relative;
  width: 228px;
  margin: 40px auto 0;
}
.container .profile-container .user-information {
  width: 100%;
  font-family: Helvetica;
}
.container .profile-container .user-information .user-name {
  color: black;
  font-size: 21px;
  margin: 15px 15px 0px;
}
.container .profile-container .user-information .user-city {
  color: pink;
  font-size: 13px;
  margin: 0px 15px 10px;
}
.container .profile-container .user-information .user-description {
  font-size: 13px;
  margin: 0px 15px;
}
.container .profile-container .user-online {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #9bf6cb;
  position: absolute;
  top: 85px;
  right: 35px;
  z-index: 2;
  text-align: center;
}
.container .profile-container .user-online span {
  color: white;
  margin-top: 25px;
  display: block;
  font-size: 11px;
  font-family: Helvetica;
}
.container.touched {
  -webkit-transition: background-color 1s;
  background-color: #faf4fc;
}
.container.touched .add-friend-btn .btn-text {
  -webkit-transition: background-color 0.5s;
  background-color: #c7a4ea;
}
.container .header {
  width: 100%;
  height: 40px;
  background-color: #3a3a3a;
  color: white;
  padding-top: 10px;
  position: relative;
}
.container .header .back-btn {
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}
.container .header .back-btn a {
  color: white;
  text-decoration: none;
}
.container .header .user-name {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}
.container .add-friend-btn {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: white;
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
}
.container .add-friend-btn .btn-text {
  background-color: #3a3a3a;
  margin: 0 15px;
  padding: 18px 0px;
}
