<header-nav></header-nav>
<div class="chat-container">
<div class="chat-content">
  <div class="receiver-chat row">
    <div class="text-message column column-9 col-span-1-left"><span class="pin">&nbsp;</span>{{message}}</div>
    <div class="profile-pic column column-2"><a ng-href="#/">&nbsp;</a></div>
  </div>
  <div ng-repeat="archivemessage in messages">
    <div class="sender-chat row">
      <div class="profile-pic column column-2"><a ng-href="#/">&nbsp;</a></div>
      <div class="text-message column column-9  col-span-1-right"><span class="pin">&nbsp;</span>{{archivemessage}}</div>
    </div>
  </div>
</div>
</div>
<div class="form-box row">
  <form class="message-box column column-10 col-span-1-left" ng-submit="addMessage(newmessage)">
    <span class="pin">&nbsp;</span>
    <input type="text" ng-model="newmessage" placeholder="Write a message ..." />
  </form>
</div>
