<header-nav></header-nav>
<div class="chat-container">
<div class="chat-content">
  <div class="receiver-chat">
    <div class="profile-pic"><a ng-href="#/">&nbsp;</a></div>
    <div class="text-message"><span class="pin">&nbsp;</span>{{message}}</div>
  </div>
  <div ng-repeat="archivemessage in messages">
    <div class="sender-chat">
      <div class="profile-pic"><a ng-href="#/">&nbsp;</a></div>
      <div class="text-message"><span class="pin">&nbsp;</span>{{archivemessage}}</div>
    </div>
  </div>
</div>
<!-- <p class="welcome-message">{{message}}<a ng-href="#/">OK</a></p>
<div ng-repeat="archivemessage in messages">
  <p>{{archivemessage}}</p>
</div> -->
<form class="message-box" ng-submit="addMessage(newmessage)">
  <input type="text" ng-model="newmessage" placeholder="Write a message ..." />
</form>
</div>
